@tailwind base;
@tailwind components;
@tailwind utilities;


.no-tailwindcss-base, .no-tailwindcss-base * , .no-tailwindcss-base > * {
    font-size: revert;
    font-weight: revert;
    margin: revert;
    display: revert;
    vertical-align: revert;
    max-width: revert;
    height: revert;
    border-width: revert;
    border-style: revert;
    border-color: revert;
    outline: revert;
    list-style: revert;
    padding: revert;
    color: revert;
    text-decoration: revert;
    cursor: revert;
}